{% extends "base.html.j2" %}
{% block body %}
<form action="/exam/" method="post">
    Student id: <input type="text" name="student_id" value="">
    <input type="submit" value="Submit">
</form>
{% endblock %}
